<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/3de2aa07be.js" crossorigin="anonymous"></script>

    <!-- style -->
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>

    <script src="https://unpkg.com/vue@3"></script>

    <div id="app" class="background">

        <div class="back-top"></div>

        <div id="container-wrapper">

            <div id="container">

                <div id="aside">

                    <div class="left-header">

                        <div class="profile">
                            <img src="./img/avatar_1.jpg" alt="Foto profilo">

                            <strong>Francesco</strong>
                        </div>

                        <div class="icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <div id="notifications">
                        <div class="silent-icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div class>
                        <div class="text">
                            <p>
                                Ricevi notifiche di nuovi messaggi
                            </p>

                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <div class="search-bar">
                        <div class="search-items">
                            <div class="icon-lens">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>

                            <input type="text" 
                            placeholder="Cerca o inizia una nuova chat"
                            v-model="searchName" 
                            @input="searchContact()" 
                            type="search"
                            id="search-contact" >

                        </div>

                    </div>

                    <div id="chat-list">
                        <div v-for="(contact, index) in searchContact() "  
                            class="chat-preview"
                            :class="contact == activeContact ? 'active' : ''" 
                            @click="changeActiveContact(index)">
                            <img class="user-pic" :src="contact.avatar" alt="">
                            <div>
                                <div class="user-name">{{ contact.name }}</div>
                                <div class="last-message">{{ contact.lastMessage }}</div>
                                <div class="last-message-time">{{ contact.lastMessageTime }}</div>
                            </div>
                        </div>


                    </div>
                </div>

                <main>
                    <div class="right-header">
                        <div class="contact">
                            <img :src="activeContact.avatar" alt="">

                            <div class="contact-info">
                                <span class="contact-name">{{activeContact.name}}</span>

                                <span v-if="contactStatus === 'sta scrivendo...'">{{ contactStatus }}</span>
                                <span v-else-if="contactStatus === 'online'">Online</span>
                                <span v-else>Ultimo accesso alle {{ getLastAccessTime() }}</span>
                            </div>
                        </div>

                        <div class="icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>


                    </div>

                    <div id="active-chat">

                        <div class="container">

                            <div v-for="(currentMessage, Index) in activeContact.messages" 
                                class="message"
                                :class="currentMessage.status"
                                >
                                <div class="text">
                                    {{currentMessage.message}} 
                                </div>
                                <div class="time">
                                    {{currentMessage.date}}
                                </div>
                                
                                <div class="message-options" v-show="currentMessage.showOptions">
                                    <div class="dropdown-menu" v-if="currentMessage.showOptions">
                                        
                                        <div @click.stop="deleteMessage(currentMessage)">
                                            Elimina messaggio
                                        </div>
                                    </div>

                                </div>
                                <div class="toggle-options-icon" @click.stop="toggleOptions(currentMessage)">
                                    <i class="fa-solid fa-v"></i>
                                </div>
                            </div>


                        </div>


                    </div>

                    <div id="message-bar">
                       
                        <button >
                            <i class="fa-regular fa-face-smile"></i>
                        </button>

                        <input ref="messageInput"
                         type="text" 
                         placeholder="Scrivi messaggio" 
                         @keyup.enter="sendMessage($event.target.value)"
                         @input="handleInput"
                         id="type-message">

                         <button @click="sendMessageByAirplane">
                            <i v-if="!isMessageSent" class="fa-solid fa-paper-plane"></i>
                            <i v-else class="fa-solid fa-microphone"></i>
                        </button>
                    </div>
                </main>



            </div>

        </div>
        <div class="back-bottom"></div>
    </div>






    <script src="js/script.js"></script>
</body>

</html>